@keyframes slide-in-left {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.frameChild {
  border: 0;
  font-weight: 500;
  font-family: var(--font-inter);
  font-size: var(--font-size-sm);
  background-color: transparent;
  align-self: stretch;
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.dashboardIcon {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.dashboard {
  position: relative;
  line-height: 140%;
  font-weight: 500;
}
.dashboardParent,
.frameWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.dashboardParent {
  gap: var(--gap-5xs);
}
.frameWrapper {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--secondary-5);
  height: 50px;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.noteAltIcon {
  position: relative;
  width: 20px;
  height: 20px;
}
.assessment {
  position: relative;
  line-height: 140%;
  font-weight: 600;
}
.noteAltParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  z-index: 0;
}
.frameItem {
  position: absolute;
  margin: 0 !important;
  top: 5px;
  left: 230px;
  border-radius: var(--br-3xs);
  background-color: var(--accent-new-red);
  width: 7px;
  height: 7px;
  opacity: 0;
  z-index: 1;
}
.frameGroup,
.frameParent {
  display: flex;
  justify-content: flex-start;
}
.frameGroup {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--color-aliceblue-100);
  border: 1px solid var(--secondary-1);
  box-sizing: border-box;
  height: 50px;
  flex-direction: row;
  padding: var(--padding-3xs);
  align-items: center;
  position: relative;
  gap: var(--gap-3xs);
  color: var(--secondary-1);
}
.frameParent {
  width: 295px;
  height: 229px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-7xs);
}
.drawerChild {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 1px;
  flex-shrink: 0;
}
.admin {
  position: relative;
  font-weight: 500;
}
.adminWrapper,
.frameDiv {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
}
.adminWrapper {
  border-radius: var(--br-3xl);
  background-color: var(--accent-red-light);
  border: 1px solid var(--accent-new-red);
  height: 18px;
  padding: var(--padding-7xs) var(--padding-5xs);
  justify-content: flex-start;
  font-size: var(--font-size-3xs);
  color: var(--accent-new-red);
}
.frameDiv {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--secondary-5);
  height: 50px;
  padding: var(--padding-3xs);
  justify-content: space-between;
}
.drawer,
.drawerInner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.drawerInner {
  align-self: stretch;
}
.drawer {
  position: relative;
  background-color: var(--secondary-5);
  width: 315px;
  height: 100%;
  overflow: hidden;
  padding: 40px var(--padding-xl) var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  opacity: 0;
  max-width: 90%;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--text-100);
  font-family: var(--font-inter);
}
.drawer.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-left;
}
@media screen and (max-width: 960px) {
  .drawer {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
